.calculator {
  display: flex;
  flex-direction: column;

  &__values {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
  }

  &__rem {
    margin-top: 2rem;
  }

  label {
    margin-top: 2rem;
  }

  input {
    margin-left: 1rem;
  }

  &__result {
    margin-top: 1rem;
  }
}

.bold {
  color: blue;
  font-weight: bold;
}